<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hostel Management System</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }
    h1 {
      color: #333;
    }
    p {
      color: #666;
      text-align: center;
    }
    form {
      margin-top: 20px;
    }
    button {
      padding: 10px 15px;
      font-size: 16px;
      cursor: pointer;
      background-color: #3498db;
      color: #fff;
      border: none;
      border-radius: 5px;
    }
    button:hover {
      background-color: #2980b9;
    }
  </style>
</head>
<body>
  <h1>Welcome to the Hostel Management System</h1>
  <p>
    This project is designed to streamline hostel management processes, providing an efficient and organized solution for both administrators and students.
  </p>
  <p>
    <strong>Tech Stack</strong> Node.js, Express, MongoDB, Handlebars (hbs), HTML, CSS.
  </p>
  <p>
    The flow of the project includes features like login validation, event management, and generating out passes for students. Explore the various functionalities by navigating through the menu on the homepage.
  </p>
  <form action="/login">
    <button type="submit">To The Project</button>
  </form>
</body>
</html>
